table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:active {background-color: rgb(39, 39, 183);}
  
  table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color:rgb(86, 86, 171);
    color: white;
  }